.main
  .inner_content
    = render :partial => "users/dashboard_nav"
  .inner_content
    
    %h2 Edit Ad
    
    - form_for([current_user, @ad], :html => {:multipart => true}) do |form|
      .errors
        = error_messages_for :ad
      %dl
        %dt= form.label :title
        %dd= form.text_field :title
        %dt= form.label :description
        %dd= form.text_area :description
        %dt= form.label :group_id, "Category"
        %dd= form.select :group_id, Group.all.collect{|g|[g.name,g.id]}
        %dt= form.label :tags
        %dd= form.text_field :tag_list 
        %small Comma separate tags.    
      %p= form.submit 'Update', :disable_with => "Updating"
    
.details
  .inner_content
    = render :partial => "users/info"
  .inner_content
    = render :partial => "shared/advertisment"
