= javascript_include_tag "/audio-player/audio-player.js"
= javascript_tag "AudioPlayer.setup(\"/audio-player/player.swf\", { width: 140,	transparentpagebg: \"yes\" });"
.main
  .inner_content
    .photo_view
      %h2 
        = h @ad.title
      %br
      %p 
        = h @ad.description
      %p 
        %small 
          Posted
          =  time_ago_in_words @ad.start_date
          ago
      %p 
        %small 
          Expires in
          =  distance_of_time_in_words_to_now @ad.end_date
      %br  
      .photo_tags
        %br
        %h3 Tags:
        %p
          =h @ad.tags.collect(&:name).join(" ")
          
  .inner_content
    %h2 Rating    
    = render :partial =>"shared/rate_item",:locals => {:ratable=>@ad}
    
    
  .inner_content
    %h2 
      Recent Tracks    
      .tracks
        - unless @recent_tracks.empty?
          = render :partial=>@recent_tracks
        - else
          No Tracks Found
    %h2 
      Recent Photos    
      .photos
        - unless @recent_photos.empty?
          = render :partial=>@recent_photos
        - else
          No Photos Found
    .clear
    %h2 
      Recent Videos    
      .photos
        - unless @recent_videos.empty?
          = render :partial=>@recent_videos
        - else
          No Videos Found
          
          
  .inner_content
    %h2 Comments
    = render :partial => @ad.comments
    = render :partial => "comments/form", :locals => {:commentable => @ad, :comment_class=>""}
    
.details
  .inner_content
    = render :partial => "users/public_info"
  .inner_content
    = render :partial => "shared/tall_advertisement"