<ul>
    <% if @user.super_user? %>
        <li><%= link_to "Demote Admin", change_admin_status_user_path(@user, :user => {:admin=>"0"}, :format => 'js'), :class => "change_admin" %></li>
    <% else %>
        <li><%= link_to "Make Admin", change_admin_status_user_path(@user, :user => {:admin=>"1"}, :format => 'js'), :class => "change_admin" %></li>
    <% end %>
    
    <% if current_user.super_user? and not @user.suspended? %>
        <li><%= link_to "Suspend This User", suspend_user_path(@user), :method => :put %></li>
    <% end %>

    <% if @user.featured? %>
        <li><%= link_to "Unfeature", change_featured_status_user_path(@user, :user => {:featured=>"0"}, :format => 'js'), :class => "change_featured" %></li>
    <% else %>
        <li><%= link_to "Feature", change_featured_status_user_path(@user, :user => {:featured=>"1"}, :format => 'js'), :class => "change_featured" %></li>
    <% end %>
</ul>
