= form.error_messages

%dl
  %dt= form.label :first_name
  %dd= form.text_field :first_name
  %dt= form.label :last_name
  %dd= form.text_field :last_name
  %dt= form.label :username
  %dd= form.text_field :username
  %dt= form.label :address
  %dd= form.text_field :address
  %dt= form.label :city
  %dd= form.text_field :city
  %dt= form.label :state
  %dd= form.text_field :state
  %dt= form.label :zip
  %dd= form.text_field :zip
  %dt= form.label :twitter
  %dd= form.text_field :twitter
  %dt= form.label :youtube
  %dd= form.text_field :youtube
  %dt= form.label :flickr
  %dd= form.text_field :flickr
  %dt= form.label :bio
  %dd= form.text_area :bio
