.main
  .inner_content
    = render :partial => "users/dashboard_nav"
  .inner_content

    %h2 Editing Profile

    - form_for(@profile) do |form|
      = render :partial => 'form', :locals => {:form => form}
      %p= form.submit 'Update'

.details
  .inner_content
    = render :partial => "users/info"
  .inner_content
    = render :partial => "shared/advertisment"
