<!-- BEGIN COLUMNS -->
<table class="columns" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" id="content" class="column_left">
	
        <!-- BEGIN INBOX -->
        <div class="main">

	        <div class="page-title">
	        <h2 class="inbox-show"><%= image_tag "ico_left-inbox.png" %> <span>New direct message to <strong><%= h @user.name %></strong></span></h2>
	        </div>
	
			<ul class="inbox-buttons">
				<li><%= link_to 'Unread Messages', inbox_user_path(current_user) %></li>
				<li><%= link_to 'Read Messages', inbox_user_path(current_user, :mbox => 'archive') %></li>
				<li><%= link_to 'Sent Messages', inbox_user_path(current_user, :mbox => 'sent') %></li>
			</ul>
			
			<div class="view-message">
				
				<div class="message-thumb">
				<%= link_to(image_tag(@user.profile.avatar.url(:dashboard)), @user) %>
				</div>
				
				<div class="message-body">
					
				<% form_for [@user,@direct_message] do |f| %>
				<label>Message:</label><br />
				<%= f.hidden_field :consumer_id, :value=>@user.id %>
				<%= f.hidden_field :consumer_type, :value=>"User" %>
				<%= f.hidden_field :producer_id, :value=>current_user.id %>
				<%= f.hidden_field :producer_type, :value=>"User" %>
				<%= f.text_area :message, :style=>"width:98%" %>
				<%= f.submit "Send" %>
				<% end %>
										
				</div>
				
				<div class="clear"></div>
				
			</div>
			
        </div>
        <!-- /END INBOX -->

      </td>
      <td valign="top" id="side_bar" class="column_right">
	
        <%= render "users/info" %>
		<%= render "shared/tall_advertisement" %>

      </td>
    </tr>
  </tbody>
</table>
<!-- /END COLUMNS -->