<!-- BEGIN COLUMNS -->
<table class="columns" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" id="content" class="column_left">
	
        <!-- BEGIN INBOX -->
        <div class="main">

	        <div class="page-title">
	        <h2><%= image_tag "ico_left-inbox.png" %> <span>Direct message from <%= h @direct_message.producer.name %> to <%= h @direct_message.consumer.name %></span></h2>
	        </div>
				
			<ul class="inbox-buttons">
				<li class="<%= get_inbox_current() %>"><%= link_to 'Unread Messages', inbox_user_path(current_user) %></li>
				<li class="<%= get_inbox_current('archive') %>"><%= link_to 'Read Messages', inbox_user_path(current_user, :mbox => 'archive') %></li>
				<li class="<%= get_inbox_current('sent') %>"><%= link_to 'Sent Messages', inbox_user_path(current_user, :mbox => 'sent') %></li>
			</ul>
			
        </div>
        <!-- /END INBOX -->

      </td>
      <td valign="top" id="side_bar" class="column_right">
	
        <%= render "users/info" %>
		<%= render "shared/tall_advertisement" %>

      </td>
    </tr>
  </tbody>
</table>
<!-- /END COLUMNS -->