.main
  .inner_content
    = render :partial => "users/dashboard_nav"
  .inner_content
    %h2 
      = "Direct Message from #{h @direct_message.producer.name}"
    .message_view
      = h @direct_message.message
    
  
.details
  .inner_content
    = render :partial => "users/info"
  .inner_content
    = render :partial => "shared/tall_advertisement"