.track_list_item
  = image_tag track.user.profile.avatar.url(:thumb)
  %h3
    = "#{track.name}"
    (
    = link_to("listen", user_track_path(track.user, track))
    )
  %p 
    %div[track]
    - track_dom_id = dom_id(track)
    :javascript
      var #{track_dom_id} = new SWFObject('/swf/player.swf','mpl','470','30','9');
      #{track_dom_id}.addParam('allowfullscreen','true');
      #{track_dom_id}.addParam('allowscriptaccess','always');
      #{track_dom_id}.addParam('wmode','opaque');
      #{track_dom_id}.addVariable('file','#{track.mp3.url}');

      #{track_dom_id}.addVariable('skin','/audio-player/audio-skin.swf');
      #{track_dom_id}.write('#{track_dom_id}');