- content_for(:head) do
  = javascript_include_tag 'jquery.corners.js'
  :javascript
    $(function(){
      $('.rounded').corners();
      $('.rounded').corners(); /* test for double rounding */
    });
      
.inner_content
  .top
    %h2.left #{@user.name.capitalize_words}
    %span.status= @user.status.message if @user.status
    .member_info
      Member Since: 
      %strong #{@user.created_at.strftime("%B %Y")}
      | Profile Views Today: #{@user.profile.view_count(:range => 'today')} | Total Profile Views: #{@user.profile.view_count}
.main
  - if current_user
    = render "users/dashboard_nav"
  = render "users/grey_boxes"
  %h4 #{@user.name.capitalize.possesive} Tracks
  
  .tracks
    - unless @tracks.empty?
      - @tracks.each do |track|
        .track_list_item
          = h track.user.name
          \-
          %strong
            = h track.name
          (#{link_to 'Listen',  [track.user, track]})
          .player
            %div[track]
            :javascript
              var #{dom_id(track)} = new SWFObject('/swf/player.swf','mpl','470','30','9');
              #{dom_id(track)}.addParam('allowfullscreen','true');
              #{dom_id(track)}.addParam('allowscriptaccess','always');
              #{dom_id(track)}.addParam('wmode','opaque');

              #{dom_id(track)}.addVariable('file','#{track.mp3.url}');

              #{dom_id(track)}.addVariable('skin','/audio-player/audio-skin.swf');
              #{dom_id(track)}.write('#{dom_id(track)}');
        .comment_link
          - if track.comments_count > 0
            = link_to pluralize(track.comments_count, 'Comment'), user_track_path(track.user, track, :anchor => 'comments')
          - else
            = link_to 'Post a comment', user_track_path(track.user, track, :anchor => 'comments')
    - else
      No Tracks Found

.details
  .inner_content
    = render :partial => "users/public_info"

  .inner_content
    = render :partial => 'shared/tall_advertisement'