.main  
  .inner_content
    - if current_user
      = render "users/dashboard_nav"
    %h2 
      = "Popular Tracks"
    
    .tracks
      - unless @popular_tracks.empty?
        - @popular_tracks.each do |track|
          .track_list_item
            %h3
              = image_tag track.user.profile.avatar.url(:thumb)
              = h "#{track.user.name} - #{track.name}"
              = render :partial =>"shared/rate_item",:locals => {:ratable=>track}
              (
              = link_to("listen", user_track_path(track.user, track))
              )
            %p 
              %div[track, 'popular']
              - track_dom_id = dom_id(track)
              :javascript
                var #{track_dom_id} = new SWFObject('/swf/player.swf','mpl','470','30','9');
                #{track_dom_id}.addParam('allowfullscreen','true');
                #{track_dom_id}.addParam('allowscriptaccess','always');
                #{track_dom_id}.addParam('wmode','opaque');
                #{track_dom_id}.addVariable('file','#{track.mp3.url}');

                #{track_dom_id}.addVariable('skin','/audio-player/audio-skin.swf');
                #{track_dom_id}.write('popular_#{track_dom_id}');
      - else
        No Tracks Found
  .inner_content
    %h2 
      = "Recent Tracks"

    .tracks
      - unless @recent_tracks.empty?
        - @recent_tracks.each do |track|
          .track_list_item
            %h3
              = image_tag track.user.profile.avatar.url(:thumb)
              = h "#{track.user.name} - #{track.name}"
              (
              = link_to("listen", user_track_path(track.user, track))
              )
            %p 
              %div[track, 'recent']
              - track_dom_id = dom_id(track)
              :javascript
                var #{track_dom_id} = new SWFObject('/swf/player.swf','mpl','470','30','9');
                #{track_dom_id}.addParam('allowfullscreen','true');
                #{track_dom_id}.addParam('allowscriptaccess','always');
                #{track_dom_id}.addParam('wmode','opaque');
                #{track_dom_id}.addVariable('file','#{track.mp3.url}');

                #{track_dom_id}.addVariable('skin','/audio-player/audio-skin.swf');
                #{track_dom_id}.write('recent_#{track_dom_id}');
      - else
        No Tracks Found
   
.details
  .inner_content
    = render "shared/tall_advertisement"
