= render "users/top"
.main
  .inner_content
    = render :partial => "users/dashboard_nav"
    
    %h4.title Upload Track
    
    - form_for([@user, @track], :html => {:multipart => true}) do |form|
      .file_field
        = form.label :mp3, 'MP3 File:'
        = form.file_field :mp3
        %span.hint
          We only support .mp3 files here at PYO
      .text_field
        = form.label :name, 'Title:'
        = form.text_field :name
        %span.hint
          Name your track.
      .text_area
        = form.label :description, 'Description:'
        = form.text_area :description
      .text_field
        = form.label :tags
        = form.text_field :tag_list    
        %span.hint
          Separate each tag with a comma.
      .submit_button
        = image_submit_tag 'upload.gif'
    
.details
  .inner_content
    = render :partial => "users/info"
  .inner_content
    = render :partial => "shared/tall_advertisement"