- content_for(:head) do
  = javascript_include_tag "/audio-player/audio-player.js"
  = javascript_include_tag "/javascripts/pyo_media.js"

= render "users/public_top"
.main
  .inner_content
    - if current_user
      = render "users/dashboard_nav"
    = render "users/grey_boxes"
    
    .relative
      %h4.title= h @track.name
      - unless current_user && (current_user.owns?(@track) || current_user.likes?(@track))
        .hanger
          = link_to 'Like', like_user_track_path(@track.user, @track), :class => 'media_like', :method => :post
    %p 
      = h @track.description
    %br  
    %p
      %script{:type=>"text/javascript"}
        = "AudioPlayer.embed(\"audioplayer_1\", {soundFile: \"#{@track.mp3.url}\", titles: \"#{h @track.name}\", artists: \"#{@track.user.name}\",});"  
      #audioplayer_1
      .photo_tags
        %br
        %h3 Tags:
        %p
          = h @track.tags.collect(&:name).join(", ")
  .inner_content
    %h4 Rating    
    = render :partial =>"shared/rate_item",:locals => {:ratable=>@track}
  .inner_content
    %h4 Comments
    .comments
      = render :partial => "comments/form", :locals => {:commentable => @track, :comment_class=>""}
      = render @track.comments
.details
  .inner_content
    = render "users/public_info"
  .inner_content
    = render "shared/tall_advertisement"