= javascript_include_tag "/audio-player/audio-player.js"
= javascript_include_tag "/javascripts/pyo_media.js"
.main
  .inner_content
    = render :partial => "users/dashboard_nav"
  .inner_content
    .photo_view
      %h2 
        = h @track.name
      %br
      %p 
        = h @track.description
      %br  
      %p
      %script{:type=>"text/javascript"}
        = "AudioPlayer.embed(\"audioplayer_1\", {soundFile: \"#{@track.mp3.url}\", titles: \"#{h @track.name}\", artists: \"#{@track.user.name}\",});"  
      #audioplayer_1
      .photo_tags
        %br
        %h3 Tags:
        %p
          = h @track.tags.collect(&:name).join(" ")
  .inner_content
    %h2 Rating    
    = render :partial =>"shared/rate_item",:locals => {:ratable=>@track}
  .inner_content
    %h2 Comments
    = render :partial => @track.comments
    = render :partial => "comments/form", :locals => {:commentable => @track, :comment_class=>""}
    
.details
  .inner_content
    = render :partial => "users/public_info"
  .inner_content
    = render :partial => "shared/advertisment"