<div class="comment">
	
	<div class="thumb_info">
		<%= link_to(image_tag(comment.producer.profile.avatar(:thumb)), comment.producer) %>
	</div>
	
	<div class="comment_message">
		<p class="com_user"><%= link_to comment.producer.name, comment.producer %> <%= "<span class='dark_grey'>( #{time_ago_in_words(comment.created_at)} ago )</span>" %> <%= "| #{link_to('delete', comment, :confirm => 'Are you sure?', :method => :delete)}" if current_user.owns?(comment) || (defined?(is_owner) && is_owner) %> | <%= link_to "reply", comment.producer %></p>
		<p class="com_mess"><%= auto_link(h(comment.message), :html => {:target => '_blank'}) %></p>
	</div>
	
	<div class="clear"></div>
	
</div>