- if current_user
  - form_for(:comment,:url=>comments_path) do |form|
    %div{:class=>comment_class}
      = hidden_field_tag("comment[consumer_id]", commentable.id)
      = hidden_field_tag("comment[consumer_type]", commentable.class.to_s)
      = text_area_tag "comment[message]", "",
      = form.submit 'Add Comment'
- else
  #{link_to 'Login', login_path} or #{link_to 'Sign Up', signup_path} to comment