.main
  .inner_content
    = render :partial => "users/dashboard_nav"
  .inner_content
    
    %h2 Edit Event
    
    - form_for([current_user, @event], :html => {:multipart => true}) do |form|
      .errors
        = error_messages_for :event
      %dl
        %dt= form.label :title
        %dd= form.text_field :title
        %dt= form.label :description
        %dd= form.text_area :description
        %dt= form.label :tags
        %dd= form.text_field :tag_list 
        %small Comma separate tags.    
      %p= form.submit 'Update', :disable_with => "Updating"
    
.details
  .inner_content
    = render :partial => "users/info"
  .inner_content
    = render :partial => "shared/advertisment"