<h1>Listing events</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Title</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>User</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.type %></td>
    <td><%=h event.title %></td>
    <td><%=h event.description %></td>
    <td><%=h event.start_date %></td>
    <td><%=h event.end_date %></td>
    <td><%=h event.user_id %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>