.main
  .inner_content
    .photo_view
      %h2 
        = h @event.title
      %br
      %p 
        = h @event.description
      %p
        %small
          Begins in
          = distance_of_time_in_words_to_now @event.start_date
      %p
        Starts
        = @event.start_date.to_formatted_s :human_date_and_time
      %p
        Ends
        = @event.end_date.to_formatted_s :human_date_and_time
      %br  
      .photo_tags
        %br
        %h3 Tags:
        %p
          =h @event.tags.collect(&:name).join(" ")
  .inner_content
    %h2 Rating    
    = render :partial =>"shared/rate_item",:locals => {:ratable=>@event}
  .inner_content
    %h2 Comments
    = render :partial => @event.comments
    = render :partial => "comments/form", :locals => {:commentable => @event, :comment_class=>""}
    
.details
  .inner_content
    = render :partial => "users/public_info"
  .inner_content
    = render :partial => "shared/advertisment"