.main  
  .inner_content
    %ul.menu
      %li
        = link_to "Request a new Group", request_group_groups_path
  - unless @groups.empty?
    .inner_content
      %h2 
        = "Groups"
      - for group in @groups
        .group_info
          %strong
            = link_to h(group.name), group_path(group)
          %p
            = h truncate(group.description, 20)
.details
  .inner_content
    = render :partial => "users/info"

  .inner_content
    .advertisement
      Advertisement
