.top.relative
  %h2 PYO Groups
  There are currently #{pluralize(Group.count, 'Group').gsub(/(\d+)/, '<strong>\1</strong>')} on PYO
  .hanger
    = link_to image_tag('/images/startgroup.gif'), request_group_groups_path if current_user
  
.main  
  .inner_content
    - unless @groups.empty?
      .groups
        - for group in @groups
          %div[group]
            = image_tag(group.icon.url(:medium))
            %h4= link_to group.name, group
            %p
              %strong #{pluralize(group.members.count, 'Member')}
            %p Category: N/A
    - else
      No Groups Yet! #{link_to 'Start one now', request_group_groups_path}

.details
  .inner_content
    = render 'shared/tall_advertisement'