.top
  .inner_content.relative
    %h2 PYO Groups
    There are currently #{pluralize(Group.count, 'Group').gsub(/(\d+)/, '<strong>\1</strong>')} on PYO
    .hanger
      = link_to image_tag('/images/startgroup.gif'), request_group_groups_path if current_user
  - if flash[:notice]
    %p.notify 
      = flash[:notice]
.main  
  - if current_user
    = render "users/dashboard_nav"
  - unless @groups.empty?
    = render "sorting"
    .groups
      %ul
        - for group in @groups
          %li[group]
            = link_to image_tag(group.icon.url(:medium)), group
            %h4= link_to group.name, group
            %p
              %strong #{pluralize(group.members.count, 'Member')}
            %p Category: #{link_to group.group_category.name, group.group_category}
      = will_paginate @groups, :prev_label => "&laquo;", :next_label => "&raquo;"
  - else
    No Groups Yet! #{link_to 'Start one now', request_group_groups_path}

.details
  .inner_content
    .info
      %h3 Group Categories
      %ul
        - @categories.each do |category|
          %li= link_to(category.name, category) + " (#{category.groups.size})"
    
  .inner_content
    = render 'shared/tall_advertisement'