.inner_content
  .top
    %h2 #{@group.name.capitalize_words}
    There are currently #{@group.users.count} Members in this group 
.main  
  
  Pictures
  Videos
  Audio
  
  .inner_content
    = render :partial => @group.comments
    = render :partial => "comments/form", :locals => {:commentable => @group, :comment_class=>""}
  
.details
  .inner_content
    = render :partial => "groups/info"
  .inner_content
    = render "shared/tall_advertisement"
