- if current_user
  %ul.menu#dashboard_nav
    %li#status_nav= link_to 'Status', '#'
    %li#picture_nav= link_to 'Picture', '#'
    %li#video_nav= link_to 'Video', '#'
    %li#audio_nav= link_to 'Audio', '#'
    %li#blog_nav= link_to 'Blog', '#'