- if current_user
  .info.left.profile
    = image_tag current_user.profile.avatar.url(:dashboard)
    .name
      %strong #{h current_user.name.capitalize}
    - if current_user.status
      %p.justify
        = current_user.status.message
  .info
    - if controller.action_name == 'dashboard'
      .upload_post_button
        = link_to 'Upload / Post', '#', :id => 'upload_post_button'
    
    
    %h3 Following
    - unless current_user.followings.recent.empty?
      .followers
        - current_user.followings.recent.each do |following|
          .thumb[following]
            = link_to image_tag(following.profile.avatar.url(:thumb), :style=>'width:50px'), user_path(following)
          %br{:clear => "all"}
    - else
      .inner_text You are currently not following any users. Would you like to search for some?