= image_tag current_user.profile.avatar.url(:profile)
= "#{h current_user.name} - #{current_user.talent_type}"
%p

%h3 Connects
%p
  - for following in current_user.followings.recent
    .info_following_thumb
      = link_to image_tag(following.profile.avatar.url(:thumb), :style=>'width:50px'), user_path(following)
  %br{:clear => "all"}