<!-- DASH IMAGE -->
<div class="dash-image">
<%= link_to(image_tag(current_user.profile.avatar.url(:dashboard)), current_user) %>
<p><%= link_to current_user.name.capitalize, current_user %></p>
<p><span>Followers: <%= link_to "#{current_user.followers.size}", followers_user_path(current_user) %></span></p>
<p><span>Following: <%= link_to "#{current_user.followings.size}", following_user_path(current_user) %></span></p>
<p><span>Updates: <%= link_to "#{current_user.profile_updates.size}", updates_user_path(current_user) %></span></p>
</div>
<!-- /DASH IMAGE -->

<!-- FOLLOWING -->
<div class="prof-following">
<h3>Following</h3>
<% @followings = User.all(:include => :profile, :joins => "INNER JOIN followings ON ( users.id = followings.child_id AND followings.child_type = 'User')", :conditions => ["parent_id = ?", current_user.id]).paginate(:per_page => 20, :page => 1) -%>
<% if @followings.nil? || @followings.empty? %>
<p>You are currently not following any users. Would you like to search for some?</p>
<% else %>
  <div class="followings">
  <% @followings.each do |following| %>
  <%= link_to(image_tag(following.profile.avatar.url(:thumb)), user_path(following)) %>
  <% end %>
  <%= link_to "View All (#{current_user.followings.size})", following_user_path(current_user) %>
  </div>
<% end %>
</div>
<!-- /FOLLOWING -->

