<!-- DASH IMAGE -->
<div class="dash-image">
<%= link_to(image_tag(current_user.profile.avatar.url(:dashboard)), current_user) %>
<p><%= link_to current_user.name.capitalize, current_user %></p>
<p><span>Followers: <%= link_to "#{current_user.followers.size}", followers_user_path(current_user) %></span></p>
<p><span>Following: <%= link_to "#{current_user.followings.size}", following_user_path(current_user) %></span></p>
<p><span>Updates: <%= link_to "#{current_user.profile_updates.size}", updates_user_path(current_user) %></span></p>
</div>
<!-- /DASH IMAGE -->

<!-- MEDIA -->
<div class="dash-options">
<ul>
<% if current_page?(dashboard_path) %>
<li><a href="<%= dashboard_path %>"><%= image_tag "ico_left-feed.png" %> <span><strong>Activity Feed</strong></span></a></li>
  <ul class="children">
  <li><a href="<%= dashboard_path :type => "statuses" %>"><%= image_tag "icons/status_small.png" %> <span>Status Updates</span></a></li>
  <li><a href="<%= dashboard_path :type => "comments" %>"><%= image_tag "icons/comments_small.png" %><span>Comments</span></span></a></li>
  <li><a href="<%= dashboard_path :type => "pictures" %>"><%= image_tag "icons/pictures_small.png" %> <span>Pictures</span></a></li>
  <li><a href="<%= dashboard_path :type => "audios" %>"><%= image_tag "icons/songs_small.png" %> <span>Songs</span></a></li>
  <li><a href="<%= dashboard_path :type => "videos" %>"><%= image_tag "icons/videos_small.png" %> <span>Videos</span></a></li>
  <li><a href="<%= dashboard_path :type => "blogs" %>"><%= image_tag "icons/blogs_small.png" %> <span>Blogs</span></a></li>
  <li><a href="<%= dashboard_path :type => "follows" %>"><%= image_tag "icons/follow_small.png" %> <span>Follows</span></a></li>
  <li><a href="<%= dashboard_path :type => "likes" %>"><%= image_tag "icons/like_small.png" %> <span>Likes</span></a></li>
  </ul>
<% else %>
<li><a href="<%= dashboard_path %>"><%= image_tag "ico_left-feed.png" %> <span>Activity Feed</span></a></li>
<% end %>
<% if current_page?(inbox_user_path(current_user)) %>
<li><a href="<%= inbox_user_path(current_user) %>"><%= image_tag "ico_left-inbox.png" %> <span><strong>Inbox (<%= "#{current_user.messages.unread.count}" %>)</strong></span></a></li>
  <ul class="children">
  <li><a href="<%= inbox_user_path(current_user) %>"><span>Unread Messages (<%= "#{current_user.messages.unread.count}" %>)</span></a></li>
  <li><a href="<%= inbox_user_path(current_user,:mbox=>"archive") %>"><span>Read Messages (<%= "#{current_user.messages.read.count}" %>)</span></span></a></li>
  <li><a href="<%= inbox_user_path(current_user,:mbox=>"sent") %>"><span>Sent Messages (<%= "#{current_user.sent_messages.count}" %>)</span></a></li>
  </ul>
<% else %>
<li><a href="<%= inbox_user_path(current_user) %>"><%= image_tag "ico_left-inbox.png" %> <span>Inbox (<%= "#{current_user.messages.unread.count}" %>)</strong></span></a></li>
<% end %>
<li><a href="<%= likes_user_path(current_user) %>"><%= image_tag "ico_left-lik.png" %> <span>My Likes (<%= "#{current_user.likes.size}" %>)</span></a></li>
<li><a href="<%= user_videos_path(current_user) %>"><%= image_tag "ico_left-vid.png" %> <span>My Videos (<%= "#{current_user.videos.size}" %>)</span></a></li>
<li><a href="<%= user_tracks_path(current_user) %>"><%= image_tag "ico_left-son.png" %> <span>My Songs (<%= "#{current_user.tracks.size}" %>)</span></a></li>
</ul>
</div>
<!-- /MEDIA -->

<!-- FOLLOWING -->
<div class="prof-following">
<h3>Following</h3>
<% @followings = User.all(:include => :profile, :joins => "INNER JOIN followings ON ( users.id = followings.child_id AND followings.child_type = 'User')", :conditions => ["parent_id = ?", current_user.id]).paginate(:per_page => 20, :page => 1) -%>
<% if @followings.nil? || @followings.empty? %>
<p>You are currently not following any users. Would you like to search for some?</p>
<% else %>
  <div class="followings">
  <% @followings.each do |following| %>
  <%= link_to(image_tag(following.profile.avatar.url(:thumb)), user_path(following)) %>
  <% end %>
  <div style="clear:both;"><%= link_to "View All (#{current_user.followings.size})", following_user_path(current_user) %></div>
  </div>
<% end %>
</div>
<!-- /FOLLOWING -->