.inner_content
  .top
    %h2.left #{link_to @user.name.capitalize_words, @user}
    - if @user.status
      %span.status
        = @user.status.message
        = "(" + link_to('delete', activity_path(current_user.status.id), :method => :delete, :confirm => "Are you sure?") + ")" if @user == current_user
    .member_info
      Member Since: 
      %strong #{@user.created_at.strftime("%B %Y")}
      | Profile Views Today: #{@user.profile.view_count(:range => 'today')} | Total Profile Views: #{@user.profile.view_count}
    
    - if flash[:notice]
      %p.notify 
        = flash[:notice]
    - else
      %p.notify
        = flash[:error]