- content_for(:head) do
  :javascript
    $(function() {
      $('.following_button').click(function() {
        $(".followmsg").slideToggle();
        return false
      })
    })
    
= image_tag @user.profile.avatar.url(:profile)
- if current_user and current_user != @user
  .buttons
    - unless current_user.following?(@user)
      = link_to 'Follow Me', follow_user_path(@user), :method => :post, :class => 'follow_me_button'
    - else
      .action_button
        = link_to 'Following', '#', :class => 'following_button rounded'
    = link_to 'Message', new_user_direct_message_path(@user), :class => 'message_button'
  = render :partial => "profiles/admin_controls", :locals=>{:user=>@user} if current_user.super_user?
  - if current_user.following?(@user)
    .followmsg
      You currently follow <strong>#{@user.name}</strong>'s updates, which appear in your 
      #{link_to 'activity hub', dashboard_path}.
      #{link_to 'Click here to unfollow this profile', unfollow_user_path(@user), :method => :post, :class => 'unfollow rounded'}
  

.info
  - if @user.city_and_state.length > 0
    .city_state
      = @user.city_and_state.join(", ") 
    
  .class
    Class: #{link_to @user.talent_type, '#'}
  - if @user.profile.bio
    .bio  
      #{@user.profile.bio}
  - cache :action_suffix => 'followings' do
    - unless @followings.empty?
      %h3 Following:
      .followings
        - @followings.each do |following|
          .smaller_thumb.with_border
            = link_to image_tag(following.profile.avatar.url(:thumb)), user_path(following)
        .clear
          = link_to "View All (#{@followings.total_entries})", following_user_path(@user)
      
  - unless @posts.empty?
    .sub_info
      %strong Blog Posts:
      %p
        - @posts.each do |post|
          = link_to post.title, post
        - if @posts.total_entries > 5
          = link_to "View All (#{@posts.total_entries})", '#'
  
  - unless @groups.empty?
    .sub_info
      %strong Groups:
      %p
        - @groups.each do |group|
          = link_to group.name, group
        - if @groups.total_entries > 5
          = link_to "View All (#{@groups.total_entries})", '#'
