= image_tag @user.profile.avatar.url(:profile)
- if current_user and current_user != @user
  - unless current_user.following?(@user)
    - form_tag follow_user_path(@user) do
      = submit_tag 'Follow'
  - else
    Following
  %button Favorite
  = message_user_btn @user
%h4
  = "#{h @user.name} - #{@user.talent_type}"

%p

- unless @user.followings.empty?
  %h3 Connects
  %p
    - for following in @user.followings
      .info_following_thumb
        = link_to image_tag(following.profile.avatar.url(:thumb), :style=>'width:50px'), user_path(following)
    %br{:clear => "all"}