- content_for :head do
  :javascript
    $(function() {
      $('#upload_post_button').click(function() {
        $('#post_bar').slideToggle();
        return false;
      });
      
      
      $('#load_more').live("click", function() {
        $.ajax({data:'authenticity_token=' + encodeURIComponent('#{form_authenticity_token}'), dataType:'script', type:'get', url:this.href}); 
        return false;
      })
      
    })

.top
  %h2 Hello, #{current_user.name.capitalize}!
  Your PYO URL: 
  %strong putyourselfon.com/#{current_user.name} 
  [ #{link_to 'Settings', edit_user_path(current_user)} ]
.main
  .inner_content
    #post_bar.hidden
      = render 'users/dashboard_nav'
      - form_for Activity.new do |f|
        = f.text_field :message
        = f.submit 'Submit'
    - unless current_user.first_run?    
      %h4 Activity Hub
      %ul.menu.activities_menu
        %li.first All
        %li= link_to 'Status', '#'
        %li= link_to 'Media', '#'
        %li= link_to 'Comments', '#'
        %li= link_to 'Follows', '#'
        %li= link_to 'Likes', '#'
  
      #activities.activities
        - @activities.each do |activity|
          %div.activity[activity]
            .thumb
              = image_tag(activity.producer.profile.avatar(:thumb)) if activity.producer
            #{time_ago_in_words(activity.created_at)} ago
            %p
              = link_to activity.producer.name, activity.producer
              = display_notification(activity)
      - if @activities.total_pages > 1
        #load_more_link.load_more
          = link_to 'Load More', activities_path(:page => @activities.current_page + 1), :id => 'load_more'
      
    - else
      %h2 Welcome to PYO.
      %p First run copy goes here
      = link_to 'Upload your first track.', new_user_track_path(current_user)
      %br
      = link_to 'Upload Photos.', new_user_photo_path(current_user)
  
.details
  .inner_content
    = render 'users/info'
    .info
      %h3 Alerts
      .alert_type
        = link_to '(30) new follows', '#'
      .alert_type
        = link_to '(12) new comments', '#'
      .alert_type
        = link_to '(6) new messages', '#'
    
  .inner_content  
    = render 'shared/tall_advertisement'