%h2 Hello, #{current_user.name}!
Your PYO URL: 
%strong putyourselfon.com/#{current_user.name} 
[ Settings ]
.main
  .inner_content
    = render :partial => "users/dashboard_nav"  
    - unless current_user.first_run?
    
      %form
        %input{:type => 'text'}
        %input{:type => 'submit'}
    
      %h4 Activity Hub
      %ul.menu
        %li.first All
        %li Status
        %li Media
        %li Comments
        %li Follows
        %li Likes
      
      .activities
        - @activities.each do |activity|
          %div[activity]
            .thumb
              = image_tag(activity.producer.profile.avatar(:thumb)) if activity.producer
            #{time_ago_in_words(activity.created_at)} ago
            %p
              = link_to activity.producer.name, activity.producer
              = display_notification(activity)
      
    - else
      %h2 Welcome to PYO.
      %p First run copy goes here
      = link_to "Upload your first track.", new_user_track_path(current_user)
      %br
      = link_to "Upload Photos.", new_user_photo_path(current_user)
  
.details
  .inner_content
    = render :partial => "users/info"
    = render :partial => 'shared/tall_advertisement'