.main
  .inner_content
    %h2 Recent Friend Activity
    %ul.buttons
      %li= link_to 'All', '#'
      %li= link_to 'Media', '#'
      %li= link_to 'Comments', '#'
      %li= link_to 'Follows', '#'
    .activity
      No Activity

.details
  .inner_content
    = current_user.name
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, metus egetipsum dolor sit
    %h3 Following
    %p
      Not following Anyone
    %h3 Alerts
    %p
      - if current_user.alerts.length > 0
        - current_user.alerts.each do |alert|
          = display_notification(alert)
      - else
        No Alerts
    %button
      Add Media
  .inner_content
    .advertisement
      Advertisement