<!-- BEGIN COLUMNS -->
<table class="columns" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" id="content" class="column_left">
	
        <%= render "users/top" %>
            
        <!-- BEGIN USER ACTIVITY -->
        <div class="prof-activity main" id="activities">
	
          <div class="prof-activity-title">
          <h2><%= image_tag "ico_left-feed.png" %> <span>Activity Feed</span></h2>
          </div>

            <%= render "users/dashboard_nav" %>

            <% if current_user.activities.empty? %>

            <p>First run content goes here...</p>

            <% else %>

            <% @activities.each do |activity| %>
			<% div_for(activity, :class => 'activity') do %>
	
	          <div class="thumb">
	          <%= link_to(image_tag(activity.producer.profile.avatar(:thumb)), activity.producer) if activity.producer %>
	          </div>
	
	          <div class="activity_detail">
	          <p><%= link_to activity.producer.name, activity.producer %>
		      <span class="activity-desc"><%= display_notification(activity) %></span></p>
		      <p class="act_time"><%= image_tag(activity.icon, :class => 'icon') if activity.respond_to?(:icon) %> <span><%= "#{time_ago_in_words(activity.created_at)}" %> ago</span></p>
		      </div>
		
		      <div class="clear"></div>
		
            <% end %>

            <% end %>

            <% end %>
			</div>

            <% if @activities.total_pages > 1 %>
            <div id="load_more_link" class="load_more">
	        <%= link_to 'Load More', activities_path(:page => @activities.current_page + 1, :type => params[:type]), :id => 'load_more' %>
	        </div>
	        <% end %>
        
        </div>
        <!-- /END USER ACTIVITY -->
	        
  
      </td>
      <td valign="top" id="side_bar" class="column_right">
	
        <%= render "users/info" %>

      </td>
    </tr>
  </tbody>
</table>
<!-- /END COLUMNS -->