.main
  .inner_content
    = render :partial => "users/dashboard_nav"
  .inner_content
    %h2 Recent Friend Activity
    %ul.buttons
      %li= link_to 'All', '#'
      %li= link_to 'Media', '#'
      %li= link_to 'Comments', '#'
      %li= link_to 'Follows', '#'
    .activity
      No Activity
.details
  .inner_content
    = render :partial => "users/info"
  .inner_content
    = render :partial => "shared/advertisment"