- content_for(:head) do
  = javascript_include_tag "/audio-player/audio-player.js"
  = javascript_tag "AudioPlayer.setup(\"/audio-player/player.swf\", { width: 140,	transparentpagebg: \"yes\" });"
= render "users/top"
.main
  .inner_content
    = render "users/dashboard_nav"
    - unless current_user.first_run?    
      %h4 Activity Hub
      %ul.menu.activities_menu
        %li.first{:class => current_page?(dashboard_path) ? 'active' : ''}= link_to 'All', dashboard_path
        %li{:class => current_page?(:type => 'statuses') ? 'active' : ''}= link_to 'Statuses', :type => 'statuses'
        %li{:class => current_page?(:type => 'pictures') ? 'active' : ''}= link_to 'Pictures', :type => 'pictures'
        %li{:class => current_page?(:type => 'audios') ? 'active' : ''}= link_to 'Audio', :type => 'audios'
        %li{:class => current_page?(:type => 'videos') ? 'active' : ''}= link_to 'Videos', :type => 'videos'
        %li{:class => current_page?(:type => 'blogs') ? 'active' : ''}= link_to 'Blog Posts', :type => 'blogs'
        %li{:class => current_page?(:type => 'comments') ? 'active' : ''}= link_to 'Comments', :type => 'comments'
        %li{:class => current_page?(:type => 'follows') ? 'active' : ''}= link_to 'Follows', :type => 'follows'
        %li{:class => current_page?(:type => 'likes') ? 'active' : ''}= link_to 'Likes', :type => 'likes'
  
      #activities.activities
        - @activities.each do |activity|
          %div.activity[activity]
            .thumb
              = image_tag(activity.producer.profile.avatar(:thumb)) if activity.producer
            #{time_ago_in_words(activity.created_at)} ago
            %p
              = image_tag(activity.icon, :class => 'icon') if activity.respond_to?(:icon)
              = link_to activity.producer.name, activity.producer
              = display_notification(activity)
      - if @activities.total_pages > 1
        #load_more_link.load_more
          = link_to 'Load More', activities_path(:page => @activities.current_page + 1, :type => params[:type]), :id => 'load_more'
      
    - else      
      %h4 Activity Hub
      
      The Activity Hub is where you will see everything going on with the users you are following. Here are a few things you will see once you start following other users:

      %ol
        %li When a user follows another user
        %li When a user updates their status
        %li When a user comments on another user's profile
        %li When a user uploads videos, photos and/or audio tracks
        %li When a user "Likes" an item on the site
        %li When a user joins/creates a group
        %li When a user posts a new blog entry
  
.details
  .inner_content.column
    = render 'users/info'
    .info
      %h3 Alerts
      - if @has_alerts
        - if @new_followings_count > 0
          .alert_type
            = link_to "(#{@new_followings_count}) new follows", '#'
        - if @new_comments_count > 0
          .alert_type
            = link_to "(#{@new_comments_count}) new comments", '#'
        - if @new_messages_count > 0
          .alert_type
            = link_to "(#{@new_messages_count}) new messages", '#'
      - else
        .inner_text
          At this time, you currently do not have any new alerts.
    
  .inner_content.column  
    .info.left
      = render 'shared/tall_advertisement'