.main
  .inner_content
    = render :partial => "users/dashboard_nav"
  .inner_content
    %h2 Recent Friend Activity
    %ul.buttons
      %li= link_to 'All', '#'
      %li= link_to 'Media', '#'
      %li= link_to 'Comments', '#'
      %li= link_to 'Follows', '#'
    .activities
      - unless current_user.activities.empty?
        - current_user.activities.each do |activity|
          .activity
            .thumb_info
              = image_tag activity.producer.profile.avatar(:thumb)
            .activity_message
              = link_to activity.producer.name, activity.producer
              = "#{time_ago_in_words(activity.created_at)} ago"
              %br
              = display_notification(activity)
      - else
        No Activity
.details
  .inner_content
    = render :partial => "users/info"
    %h3 Alerts
    %p
      - if current_user.alerts.length > 0
        - current_user.alerts.each do |alert|
          = display_notification(alert)
      - else
        No Alerts
  .inner_content
    = render :partial => "shared/advertisment"