<% if @user.suspended? %>
		  
<%= render "users/suspended" %>

<% else %>
		
<% if flash[:notice] %>
<p class="notify"><%= flash[:notice] %></p>
<% end %>

<!-- BEGIN COLUMNS -->
<table class="columns" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" id="content" class="column_left">

        <!-- BEGIN USER FOLLOWERS -->
        <div class="prof-activity main" id="user-followers">

			<div class="prof-activity-title">
			<h2><%= image_tag "ico_left-following.png" %> <%= link_to(@user.name.capitalize.possesive), @user %> <%= @user.followers.size %> Followers</h2>
			<p><%= link_to "See #{@user.name.capitalize.possesive} (#{@user.connects_size}) Connects", connects_user_path %></p>
			</div>
			
			<% unless @user_followers.empty? %>
			
			<%#= render "sorting" %>

			<div class="users">
				<% @user_followers.each do |follower| %>
				<div class="follower">
					<%= link_to(image_tag(follower.profile.avatar.url(:dashboard)), follower) %>
					<div class="user_name"><%= link_to follower.name, follower %> / <%= follower.profile.full_name if follower.profile.full_name %></div>
					<div class="city_and_state"><%= follower.city_and_state.join(', ') %></div>
					<div class="class"><%= follower.talent_type %></div>
				</div>
				<% end %>
			</div>
			
			<%= will_paginate @user_followers %>
			
			<% else %>
			
			<p style="clear:both;">No Followers yet...</p>
			
			<% end %>
			
        </div>
        <!-- /END USER FOLLOWERS -->
		
      </td>
      <td valign="top" id="side_bar" class="column_right">
		
		<%= render "users/public_info" %>

      </td>
    </tr>
  </tbody>
</table>
<!-- /END COLUMNS -->

<% if current_user and current_user != @user %>

	<% if current_user.following?(@user) %>
	<div style="clear:both;float:right;padding:10px 10px 0 0;">
	<%= link_to '[ X ] CLICK HERE TO UNFOLLOW THIS PROFILE', unfollow_user_path(@user), :method => :post %>
	</div>
	<% end %>
	
<% end %>

<% end %>