- content_for(:head) do
  = javascript_include_tag 'jquery.corners.js'
  :javascript
    $(function(){
      $('.rounded').corners();
      $('.rounded').corners(); /* test for double rounding */
    });
    
.inner_content
  .top
    %h2.left #{link_to @user.name.capitalize_words,@user}
    %span.status= @user.status.message if @user.status
    .member_info
      Member Since: 
      %strong #{@user.created_at.strftime("%B %Y")}
      | Profile Views Today: #{@user.profile.view_count(:range => 'today')} | Total Profile Views: #{@user.profile.view_count}
.main
  - if current_user
    = render "users/dashboard_nav"
  = render "users/grey_boxes"
  %h4.title Profiles #{@user.name.capitalize} is following
  - unless @followings.empty?
    .followers
      - @followings.each do |following|
        .follower
          = link_to image_tag(following.profile.avatar.url(:dashboard)), following
          = link_to following.name.capitalize, following
          .full_name= following.profile.full_name if following.profile.full_name
          .city_and_state= following.city_and_state.join(', ')
          .talent_type= following.talent_type
    = will_paginate @followings
  - else
    No Followers

.details
  .inner_content
    = render :partial => "users/public_info"

  .inner_content
    = render :partial => 'shared/tall_advertisement'