- content_for(:head) do
  = javascript_include_tag 'jquery.corners.js'
  :javascript
    $(function(){
      $('.rounded').corners();
      $('.rounded').corners(); /* test for double rounding */
    });
    
.inner_content
  .top
    %h2.left #{@user.name.capitalize_words}
    %span.status= @user.status.message if @user.status
    .member_info
      Member Since: 
      %strong #{@user.created_at.strftime("%B %Y")}
      | Profile Views Today: #{@user.profile.view_count(:range => 'today')} | Total Profile Views: #{@user.profile.view_count}
.main
  - if current_user
    = render "users/dashboard_nav"
  = render "users/grey_boxes"
  %h4.title #{@user.name.capitalize}'s Followers
  Total (#{@user.followers.size}) | #{link_to "Connects (#{@user.connects_size})", connects_user_path}
  - unless @followers.empty?
    .followers
      - @followers.each do |follower|
        .follower
          = link_to image_tag(follower.profile.avatar.url(:dashboard)), follower
          = link_to follower.name.capitalize, follower
          .full_name= follower.profile.full_name if follower.profile.full_name
          .city_and_state= follower.city_and_state.join(', ')
          .talent_type= follower.talent_type
    = will_paginate @followers
  - else
    No Followers

.details
  .inner_content
    = render :partial => "users/public_info"

  .inner_content
    = render :partial => 'shared/tall_advertisement'