.main
  .inner_content
    = render :partial => "users/dashboard_nav"
  .inner_content
    %h2 Inbox
    %ul.buttons
      %li= link_to 'New', '#'
      %li= link_to 'Sent', '#'
      %li= link_to 'Archive', '#'
    %br{:clear=>"all"}
    %table.inbox_messages{:width=>"100%"}
      %tr
        %th From
        %th Message
        %th Date
        %th Options
      - unless @messages.empty?
        - for message in @messages
          %tr
            %td
              = h message.producer.name
            %td
              = h truncate(message.message,40)
            %td
              = "#{time_ago_in_words(message.created_at)} ago"
            %td
              = link_to "read", user_direct_message_path(current_user,message)
              = link_to('delete', [@user,message], :confirm => 'Are you sure?', :method => :delete)
      - else
        No Activity
  
.details
  .inner_content
    = render :partial => "users/info"
  .inner_content
    = render :partial => "shared/advertisment"