.main
  .inner_content
    = render :partial => "users/dashboard_nav"
  .inner_content.user_inbox
    %h4.title 
      = "Inbox"
      = " - #{params[:mbox]}" if params[:mbox]
    %ul.buttons
      %li{:class=>get_inbox_current()}= "#{link_to 'Unread', inbox_user_path(current_user)} | "
      %li{:class=>get_inbox_current('sent')}= "#{link_to 'Sent', inbox_user_path(current_user,:mbox=>"sent")} | "
      %li{:class=>get_inbox_current('archive')}= link_to 'Archive', inbox_user_path(current_user,:mbox=>"archive")
    %table.inbox_messages{:width=>"100%",:cellpadding=>"0",:cellspacing=>"0"}
      - unless @messages.empty?
        - for message in @messages
          %tr
            %td.user
              = image_tag message.producer.profile.avatar.url(:thumb)
              %span.username= link_to h(message.producer.name), message.producer
              %span.date= "#{time_ago_in_words(message.created_at)} ago"
            %td.message
              = h truncate(message.message,100)
            %td.actions
              = link_to "#{image_tag('/images/read.png')} <span>read</span>", user_direct_message_path(current_user,message)
              = link_to("#{image_tag('/images/delete.png')} <span>delete</span>", [current_user,message], :confirm => 'Are you sure?', :method => :delete)
      - else
        %p.empty No Activity
  
.details
  .inner_content
    = render :partial => "users/info"
  .inner_content
    = render :partial => "shared/tall_advertisement"