.inner_content
  .top
    %h2 Members
    .page_info There are currently <strong>123,456</strong> Members on PYO 
.main  
  - unless @users.empty?
    .inner_content
      = render "sorting"
      .users
        - @users.each do |user|
          .follower
            = link_to image_tag(user.profile.avatar.url(:dashboard)), user
            = link_to user.name.capitalize, user
            .full_name= user.profile.full_name if user.profile.full_name
            .city_and_state= user.city_and_state.join(', ')
            .talent_type= user.talent_type
            
.details
  .inner_content
    .info
      %h3 Top Classifications
      %ul
        %li
  .inner_content
    = render "shared/tall_advertisement"
