.main
  .inner_content
    %h2 User's Videos
  
  - unless @photos.empty?
    .inner_content
      %h2 
        = "Recent Audio"
      = link_to("VIEW ALL", user_tracks_path(@user), :style=>"float:right; margin-top:-20px")
      - for track in @tracks
        .profile_track_info
          %strong
            = link_to h(track.name), user_track_path(@user,track)
          %p
            = h truncate(track.description, 20)
  
  - unless @photos.empty?
    .inner_content
      %h2
        = "Recent Photos"
      = link_to("VIEW ALL", user_photos_path(@user), :style=>"float:right; margin-top:-20px")
      - for photo in @photos
        .profile_photo_thumb
          = link_to image_tag(photo.image.url(:thumb)), user_photo_path(@user,photo)
    
  .inner_content
    %h2 Comments
    = render :partial => @user.comments
    = render :partial => "comments/form", :locals => {:commentable => @user}

.details
  .inner_content
    = image_tag @user.profile.avatar.url(:profile)
    - if current_user and current_user != @user
      - unless current_user.following?(@user)
        - form_tag follow_user_path(@user) do
          = submit_tag 'Follow'
      - else
        Following
      %button Favorite
      %button Message
    
    = @user.name
    
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, metus egetipsum dolor sit
    
    - if @user.followings.length > 0
      %p=@user.followings.length.to_s + "Following"
      %p
        - @user.followings.each do |following|
          = link_to following.name, following

  .inner_content
    .advertisement
      Advertisement