= javascript_include_tag "/audio-player/audio-player.js"
= javascript_tag "AudioPlayer.setup(\"/audio-player/player.swf\", { width: 140,	transparentpagebg: \"yes\" });"
.top
  %h2 #{@user.name.capitalize_words}
  Member Since: 
  %strong #{@user.created_at.strftime("%B %Y")}
  | Profile Views Today: #{@user.profile.view_count(:range => 'today')} | Total Profile Views: #{@user.profile.view_count}
.main
  - unless @videos.empty?
    .inner_content
      %h2 User's Videos
  
  - unless @tracks.empty?
    .inner_content
      %h4 #{@user.name}'s Audio
      = link_to("VIEW ALL", user_tracks_path(@user), :style=>"float:right; margin-top:-20px")
      - for track in @tracks
        .profile_track_info
          %strong
            = link_to h(track.name), user_track_path(@user,track)
          %p
            = h truncate(track.description, 20)
            %script{:type=>"text/javascript"}
              = "AudioPlayer.embed(\"audioplayer_#{track.id}\", {soundFile: \"#{track.mp3.url}\", titles: \"#{h track.name}\", artists: \"#{track.user.name}\",});"  
            %div{:id => "audioplayer_#{track.id}"}
  
  - unless @photos.empty?
    .inner_content
      %h4 Recent Photos
      = link_to("VIEW ALL", user_photos_path(@user), :style=>"float:right; margin-top:-20px")
      - for photo in @photos
        .profile_photo_thumb
          = link_to image_tag(photo.image.url(:thumb)), user_photo_path(@user,photo)
  
  - unless @flickr_photos.empty?
    .inner_content
      %h4 Recent Flickr Photos
      - for photo in @flickr_photos
        .flickr_photo_thumb
          = link_to image_tag(photo.url('s')), @user.flickr_url

  - unless @tweets.empty?
    .inner_content
      %h4 Recent Tweets
      - for tweet in @tweets
        .profile_tweet{:style=>"clear:both; float:left; width:675px; margin:3px; padding:3px; background:#ddd"}
          = image_tag tweet["user"]["profile_image_url"], :style=>"float:left"
          %p{:style=>"float:left; margin: 3px"}
          = tweet["text"]
    
  .inner_content
    %h4 Profile Comments
    = render :partial => @user.comments
    = render :partial => "comments/form", :locals => {:commentable => @user, :comment_class=>""}

.details
  .inner_content
    = render :partial => "users/public_info"

  .inner_content
    = render :partial => 'shared/tall_advertisement'