		<% if @user.suspended? %>
		  <p>This user has been suspended.</p>
		  <% :locals=>{:user=>@user} if current_user.super_user? %>
		    <%= link_to "Restore this User", restore_user_path(@user), :method => :put %>
		  <% end %>

		<% else %>
		
		<%= render "users/public_top" %>

<!-- BEGIN COLUMNS -->
<table class="columns" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" id="content" class="column_left">

        <!-- BEGIN PROFILE ACTIVITY -->
        <div class="prof-activity main" id="activities">

			<div class="prof-activity-title">
			<h2><%= image_tag "ico_left-feed.png" %> <%= @user.name.capitalize.possesive %> Activity</h2>
			<% if @updates.total_pages > 1 %>
			<p><a href=""><%= link_to "See all #{@updates.total_entries} Updates", updates_user_path %></a></p>
			<% end %>
			</div>
			
			<% unless @updates.empty? %>
			
			<% @updates.each do |activity| %>
			
				<% if activity.payload %>
				
					<% unless activity.is_a? FollowingActivity %>
					
					<% div_for(activity, :class => 'activity') do %>
						<div class="activity_detail">
						<p><%= link_to @user.name, @user %>
						<span class="activity-desc"><%= display_notification(activity) %></span></p>
						<p class="act_time"><%= image_tag(activity.icon, :class => 'icon') if activity.respond_to?(:icon) %> <span><%= "#{time_ago_in_words(activity.created_at)}" %> ago</span></p>
						</div>
						
						<div class="clear"></div>
					<% end %>
					
					<% else %>
					
					<% div_for(activity, :class => 'activity') do %>
						<div class="thumb">
						<%= link_to(image_tag(activity.payload.parent.profile.avatar(:thumb)), activity.payload.parent) if activity.producer %>
						</div>

						<div class="activity_detail">
						<p><%= link_to activity.payload.parent.name, activity.payload.parent %>
						<span class="activity-desc"><%= display_notification(activity) %></span></p>
						<p class="act_time"><%= image_tag(activity.icon, :class => 'icon') if activity.respond_to?(:icon) %> <span><%= "#{time_ago_in_words(activity.created_at)}" %> ago</span></p>
						</div>

						<div class="clear"></div>
					<% end %>
					
					<% end %>
					
				<% end %>
				
			<% end %>
			
			<% else %>
			
			<p>No Updates/Activity yet...</p>
			
			<% end %>
        </div>
        <!-- /END PROFILE ACTIVITY -->

		<% unless @photos.empty? %>
		<!-- BEGIN PICTURES -->
		<div class="prof-activity main" id="profile-photos">
			
			<div class="prof-activity-title">
			<h2><%= image_tag "ico_left-pic.png" %> <%= @user.name.capitalize.possesive %> Pictures</h2>
			<% if @photos.total_entries > @photos.per_page %>
			<p><%= link_to "See all #{@photos.total_entries} Pictures", user_photos_path(@user) %></p>
			<% end %>
			</div>
			
			<div class="prof-photos">
				<% @photos.each do |photo| %>
				<div class="prof-photo_thumb">
				<%= link_to image_tag(photo.image.url(:thumb), :class => 'profile_photo'), user_photo_path(@user,photo) %>
				</div>
				<% end %>
				<div class="clear"></div>
			</div>
		
		</div>
		<!-- /END PICTURES -->
		<% end %>

		<% unless @videos.empty? %>
		<!-- BEGIN VIDEOS -->
		<div class="prof-activity main" id="profile-videos">
			
			<div class="prof-activity-title">
			<h2><%= image_tag "ico_left-vid.png" %> <%= @user.name.capitalize.possesive %> Videos</h2>
			<% if @videos.total_entries > @videos.per_page %>
			<p><%= link_to "See all #{@videos.total_entries} Videos", user_videos_path(@user) %></p>
			<% end %>
			</div>
			
			<div class="prof-videos">
			<% @videos.each do |video| %>
			
				<% div_for(video) do %>
				<%= link_to image_tag(video.thumb_url), user_video_path(video.user,video) %>
				<% end %>
			
			<% end %>
			<div class="clear"></div>
			</div>
		</div>
		<!-- /END VIDEOS -->
		<% end %>

		<% unless @tracks.empty? %>
		<!-- BEGIN MUSIC -->
		<div class="prof-activity main" id="profile-music">
			
			<div class="prof-activity-title">
			<h2><%= image_tag "ico_left-son.png" %> <%= @user.name.capitalize.possesive %> Music</h2>
			<% if @tracks.total_entries > @tracks.per_page %>
			<p><%= link_to "See all #{@tracks.total_entries} Pictures", user_tracks_path(@user) %></p>
			<% end %>
			</div>
			
			<div class="prof-music">
				<ul>
				<% for track in @tracks %>
				<li><%= link_to "#{image_tag('/images/play.gif')} #{h(track.name)}", user_track_path(@user,track) %></li>
				<% end %>
				</ul>
				<div class="clear"></div>
			</div>
		
		</div>
		<!-- /END MUSIC -->
		<% end %>
		
		<% unless @tweets.empty? %>
		<!-- BEGIN TWEETS -->
		<div class="prof-activity main" id="profile-tweets">
			
			<div class="prof-activity-title">
			<h2><%= image_tag "ico-left-tweets.png" %> <%= @user.name.capitalize.possesive %> Recent Tweets</h2>
			</div>
			
			<div class="prof-tweets">
			<ul>
			<% for tweet in @tweets %>
				<% if tweet # sometimes twitter fails %>
				<li class="profile_tweet">
				<%= link_to image_tag(tweet["user"]["profile_image_url"]), "http://twitter.com/#{tweet["user"]["screen_name"]}/" %> <%= link_to tweet["user"]["screen_name"], "http://twitter.com/#{tweet["user"]["screen_name"]}/", :class => "tweet_screen_name" %> <%= link_to tweet["text"], "http://twitter.com/#{tweet["user"]["screen_name"]}/status/#{tweet["id"]}", :class => "tweet_status" %><br /><div class="clear"></div>
				</li>
				<% end %>
			<% end %>
			</ul>
			</div>
			
		</div>
		<!-- /END TWEETS -->
		<% end %>

		<!-- BEGIN COMMENTS -->
		<div class="prof-activity main" id="profile-comments">
		
			<div class="prof-activity-title">
			<h2><%= image_tag "ico_left-com.png" %> Comments</h2>
			</div>
			
			<div class="prof-comments">
			<%= render :partial => "comments/form", :locals => {:commentable => @user, :comment_class=>""} %>
	        <%= render :partial => @comments, :locals => {:is_owner => (current_user && @user == current_user)} %>
			</div>
		
		
		</div>
		<!-- /END COMMENTS -->
		
      </td>
      <td valign="top" id="side_bar" class="column_right">
		
		<%= render "users/public_info" %>

      </td>
    </tr>
  </tbody>
</table>
<!-- /END COLUMNS -->

<% if current_user and current_user != @user %>

	<% if current_user.following?(@user) %>
	<div style="clear:both;float:right;padding:10px 10px 0 0;">
	<%= link_to '[ X ] CLICK HERE TO UNFOLLOW THIS PROFILE', unfollow_user_path(@user), :method => :post %>
	</div>
	<% end %>
	
<% end %>

<% end %>