		<% if @user.suspended? %>
		  <p>This user has been suspended.</p>
		  <% if current_user.super_user? %>
		    <%= link_to "Restore this User", restore_user_path(@user), :method => :put %>
		  <% end %>

		<% else %>
		
		<%= render "users/public_top" %>

<!-- BEGIN COLUMNS -->
<table class="columns" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" id="content" class="column_left">

        <!-- BEGIN PROFILE ACTIVITY -->
        <div class="prof-activity main" id="activities">

			<div class="prof-activity-title">
			<h2><%= image_tag "ico_left-feed.png" %> <%= @user.name.capitalize.possesive %> Activity</h2>
			<% if @updates.total_pages > 1 %>
			<p><a href=""><%= link_to "See all #{@updates.total_entries} Updates", updates_user_path %></a></p>
			<% end %>
			</div>
			
			<% unless @updates.empty? %>
			
			<% @updates.each do |activity| %>
			
				<% if activity.payload %>
				
					<% unless activity.is_a? FollowingActivity %>
					
					<% div_for(activity, :class => 'activity') do %>
						<div class="activity_detail">
						<p><%= link_to @user.name, @user %>
						<span class="activity-desc"><%= display_notification(activity) %></span></p>
						<p class="act_time"><%= image_tag(activity.icon, :class => 'icon') if activity.respond_to?(:icon) %> <span><%= "#{time_ago_in_words(activity.created_at)}" %> ago</span></p>
						</div>
						
						<div class="clear"></div>
					<% end %>
					
					<% else %>
					
					<% div_for(activity, :class => 'activity') do %>
						<div class="thumb">
						<%= link_to(image_tag(activity.payload.parent.profile.avatar(:thumb)), activity.payload.parent) if activity.producer %>
						</div>

						<div class="activity_detail">
						<p><%= link_to activity.payload.parent.name, activity.payload.parent %>
						<span class="activity-desc"><%= display_notification(activity) %></span></p>
						<p class="act_time"><%= image_tag(activity.icon, :class => 'icon') if activity.respond_to?(:icon) %> <span><%= "#{time_ago_in_words(activity.created_at)}" %> ago</span></p>
						</div>

						<div class="clear"></div>
					<% end %>
					
					<% end %>
					
				<% end %>
				
			<% end %>
			
			<% else %>
			
			<p>No Updates/Activity yet...</p>
			
			<% end %>
        </div>
        <!-- /END PROFILE ACTIVITY -->

		<% unless @photos.empty? %>
		<!-- BEGIN PICTURES -->
		<div class="prof-activity-title">
		<h2><%= image_tag "ico_left-pic.png" %> <%= @user.name.capitalize.possesive %> Pictures</h2>
		<% if @photos.total_entries > @photos.per_page %>
		<p><a href=""><%= link_to "See all #{@photos.total_entries} Pictures", user_photos_path(@user) %></a></p>
		<% end %>
		</div>
		<!-- /END PICTURES -->
		<% end %>

		<% unless @videos.empty? %>
		<!-- BEGIN PICTURES -->
		<div class="prof-activity-title">
		<h2><%= image_tag "ico_left-vid.png" %> <%= @user.name.capitalize.possesive %> Videos</h2>
		<% if @videos.total_entries > @videos.per_page %>
		<p><a href=""><%= link_to "See all #{@videos.total_entries} Pictures", user_videos_path(@user) %></a></p>
		<% end %>
		</div>
		<!-- /END PICTURES -->
		<% end %>

		<% unless @tracks.empty? %>
		<!-- BEGIN PICTURES -->
		<div class="prof-activity-title">
		<h2><%= image_tag "ico_left-son.png" %> <%= @user.name.capitalize.possesive %> Music</h2>
		<% if @tracks.total_entries > @tracks.per_page %>
		<p><a href=""><%= link_to "See all #{@tracks.total_entries} Pictures", user_tracks_path(@user) %></a></p>
		<% end %>
		</div>
		<!-- /END PICTURES -->
		<% end %>

		<!-- BEGIN COMMENTS -->
		<div class="prof-activity-title">
		<h2><%= image_tag "ico_left-com.png" %> Comments</h2>
		</div>
		<!-- /END COMMENTS -->

      </td>
      <td valign="top" id="side_bar" class="column_right">
		
		<%= render "users/public_info" %>

      </td>
    </tr>
  </tbody>
</table>
<!-- /END COLUMNS -->

<% if current_user and current_user != @user %>

	<% if current_user.following?(@user) %>
	<div style="clear:both;float:right;padding:10px 10px 0 0;">
	<%= link_to '[ X ] CLICK HERE TO UNFOLLOW THIS PROFILE', unfollow_user_path(@user), :method => :post %>
	</div>
	<% end %>
	
<% end %>

<% end %>