- content_for(:head) do
  = javascript_include_tag 'jquery.corners.js'
  :javascript
    $(function(){
      $('.rounded').corners();
      $('.rounded').corners(); /* test for double rounding */
    });
    
.inner_content
  .top
    %h2.left #{@user.name.capitalize_words}
    %span.status= @user.status.message if @user.status
    .member_info
      Member Since: 
      %strong #{@user.created_at.strftime("%B %Y")}
      | Profile Views Today: #{@user.profile.view_count(:range => 'today')} | Total Profile Views: #{@user.profile.view_count}
.main
  - if current_user
    = render "users/dashboard_nav"
  = render "users/grey_boxes"
  %h4 #{@user.name.capitalize.possesive} Videos
  
  .videos
    - unless @videos.empty?
      - @videos.each do |video|
        .video_thumb
          = link_to image_tag(video.thumb_url), user_video_path(video.user,video)
          .title= video.title
          .comment_link
            - if video.comments_count > 0
              = link_to pluralize(video.comments_count, 'Comment'), user_video_path(video.user, video, :anchor => 'comments')
            - else
              = link_to 'Post a comment', user_video_path(video.user, video, :anchor => 'comments')          
    - else
      No Videos

.details
  .inner_content
    = render :partial => "users/public_info"

  .inner_content
    = render :partial => 'shared/tall_advertisement'