.main
  .inner_content
    = render :partial => "users/dashboard_nav"
  .inner_content
    
    %h2 Upload a Video
    - form_for [@user,@video] do |form|
      %dl
        %dt= form.label :title
        %dd= form.text_field :title
        %dt= form.label :description
        %dd= form.text_area :description
        %dt= form.label :tags
        %dd= form.text_field :tag_list
        %small Comma separate tags.    
      %p= form.submit 'Next step: upload video'
    
.details
  .inner_content
    = render :partial => "users/info"
  .inner_content
    = render :partial => "shared/advertisment"