= render "users/top"
.main
  .inner_content
    = render "users/dashboard_nav"

    %h4.title Upload a Video
    - form_for [@user,@video] do |form|
      .text_field
        = form.label :title
        = form.text_field :title
        %span.hint
          Name your video.
      .text_area
        = form.label :description
        = form.text_area :description
      .text_field
        = form.label :tags
        = form.text_field :tag_list
        %span.hint
          Separate each tag with a comma.
      .submit_button
        = image_submit_tag 'next.gif'
    
.details
  .inner_content
    = render "users/info"
  .inner_content
    = render "shared/tall_advertisement"