= render "users/public_top"
.main
  .inner_content
    - if current_user
      = render "users/dashboard_nav"
    = render "users/grey_boxes"
    .content
      .relative
        .media_title
          %h4= h @video.title
          - if current_user && (!current_user.owns?(@video) || (current_user.super_user? && current_user != @video.user)) && !current_user.likes?(@video)
            .hanger
              = link_to 'Like', like_user_video_path(@video.user, @video), :class => 'media_like', :method => :post
          - if current_user && current_user.likes?(@video)
            .hanger
              = link_to 'Unlike', unlike_user_video_path(@video.user, @video), :class => 'media_unlike', :method => :post
          - if current_user && current_user.owns?(@video)
            .media_links
              = link_to 'Edit Video', edit_user_video_path(@video.user, @video)
              \/
              = link_to 'Delete Video', user_video_path(@video.user, @video), :method => :delete, :confirm => "Are you sure?"
      = @video.embed_html
      %p
        = h @video.description
      .photo_tags
        %h3 Tags:
        %p
          = h @video.tags.collect(&:name).join(", ")
          
  .inner_content
    %h2 Rating        
    = render :partial => "shared/rate_item",:locals => {:ratable=>@video}
  .inner_content
    %h2 Comments
    .comments
      = render :partial => "comments/form", :locals => {:commentable => @video, :comment_class=>""}
      = render @video.comments.all(:order => "created_at desc")
.details
  .inner_content
    = render "users/public_info"
  .inner_content
    = render "shared/tall_advertisement"