.inner_content
  .home_top
    .headline
      %h1 
        Welcome to
        %span.blue Put Yourself On
        %span>< !
      %p 
        %span
          A revolutionary web application that allows you to share your talent(s) with the entire world, while discovering new talent and connecting with other talented individuals like yourself!
          = link_to 'Learn More.', '/about'
    .home_right
      = link_to image_tag('/images/join.gif'), signup_path
      %p
        Already a member? #{link_to 'Log In', login_path}
      
.content
  .home_columns
    .column.first
      %h5 What is PYO?
      %p
        A brand new way to share your talent(s) and/or profession(s) with the world and meet/discover other talented individuals through the use of a simple web application. 
        = link_to 'More', '/about'
    .column
      %h5 Who's PYO for?
      %p
        Anyone and everyone, whether you have your own talent(s), are looking for talent, want to observe and help promote talent or all of the above! 
        = link_to 'More', '/about?who'
    .column
      %h5 Why use PYO?
      %p
        PYO gives you the tools you need to promote yourself and your talent(s), build a fanbase and network with other talented people just like you! 
        = link_to 'More', '/about?why'

.inner_content
  %h5 Featured Users
  .home_users
    - @featured_users.each do |user|
      %div[user]
        .bordered_image= image_tag(user.profile.avatar(:home))
        = link_to user.profile.username, user.profile.full_name
        .city_and_state
          = user.city_and_state.join(', ')
        .talent_type
          = user.talent_type
          
          
  