.content
  .home_top
    .headline
      %h1 
        Welcome to
        %span.blue Put Yourself On
        %span>< !
      %p 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod viverra purus, id scelerisque erat ornare ac. 
        = link_to 'Learn More.', '#'
    .home_right
      = image_tag('/images/join.gif')
      %p
        Already a member? #{link_to 'Log In', '#'}
      
.content
  .home_columns
    .column.first
      %h5 What is PYO?
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod viverra purus, id scelerisque erat ornare ac.
    .column
      %h5 Who's PYO for?
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod viverra purus, id scelerisque erat ornare ac.
    .column
      %h5 Why use PYO?
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod viverra purus, id scelerisque erat ornare ac.

.content
  %h5 Featured Users
  .home_users
    - @featured_users.each do |user|
      %div[user]
        .bordered_image= image_tag(user.profile.avatar(:home))
        = link_to user.profile.username, user
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  