= javascript_include_tag "/audio-player/audio-player.js"
= javascript_include_tag "/javascripts/pyo_media.js"
.inner_content
  %h2 
    = "Search Results for \"#{params[:q]}\""
  .search_results
    - @results.each do |item|
      = render :partial=>item