.inner_content
  .top
    %h2.left #{@user.name.capitalize_words}'s Photos
    %span.status= @user.status.message if @user.status
    .member_info
      Member Since: 
      %strong #{@user.created_at.strftime("%B %Y")}
.main
  .inner_content
    = render :partial => "users/dashboard_nav"
    .photos
      - unless @photos.empty?
        - @photos.each do |photo|
          .photo_thumb
            = link_to('delete', [@user,photo], :confirm =>"Are you sure you want to delete this photo?", :method => :delete)+"<br>" if is_owner?(photo)
            = link_to image_tag(photo.image.url(:thumb)), user_photo_path(photo.user,photo)
            
      - else
        No Photos
.details
  .inner_content
    = render "users/public_info"
  .inner_content
    = render :partial => "shared/tall_advertisement"