.main
  .inner_content
    = render :partial => "users/dashboard_nav"
  .inner_content
    %h2 Photos
    
    .photos
      - unless @photos.empty?
        - @photos.each do |photo|
          .photo_thumb
            = link_to('delete', [@user,photo], :confirm =>"Are you sure you want to delete this photo?", :method => :delete)+"<br>" if is_owner?(photo)
            = link_to image_tag(photo.image.url(:thumb)), user_photo_path(photo.user,photo)
            
      - else
        No Photos
.details
  .inner_content
    = render :partial => "users/info"
    %h3 Alerts
    %p
      - if current_user.alerts.length > 0
        - current_user.alerts.each do |alert|
          = display_notification(alert)
      - else
        No Alerts
  .inner_content
    = render :partial => "shared/advertisment"