- content_for(:head) do
  = javascript_include_tag 'jquery.corners.js'
  :javascript
    $(function(){
      $('.rounded').corners();
      $('.rounded').corners(); /* test for double rounding */
    });
    
.inner_content
  .top
    %h2.left #{@user.name.capitalize_words}
    %span.status= @user.status.message if @user.status
    .member_info
      Member Since: 
      %strong #{@user.created_at.strftime("%B %Y")}
      | Profile Views Today: #{@user.profile.view_count(:range => 'today')} | Total Profile Views: #{@user.profile.view_count}
.main
  - if current_user
    = render "users/dashboard_nav"
  = render "users/grey_boxes"
  %h4 #{@user.name.capitalize.possesive} Pictures
  .photos
    - unless @photos.empty?
      - @photos.each do |photo|
        .photo_thumb
          = link_to image_tag(photo.image.url(:thumb)), user_photo_path(photo.user,photo)
          - if photo.title
            .title= photo.title
          .comment_link
            - if photo.comments_count > 0
              = link_to pluralize(photo.comments_count, 'Comment'), user_photo_path(photo.user, photo, :anchor => 'comments')
            - else
              = link_to 'Post a comment', user_photo_path(photo.user, photo, :anchor => 'comments')
          
    - else
      No Photos
  

.details
  .inner_content
    = render :partial => "users/public_info"

  .inner_content
    = render :partial => 'shared/tall_advertisement'