.main
  .inner_content
    = render :partial => "users/dashboard_nav"
  .inner_content
    .photo_view
      %h2 
        = h @photo.title
      = image_tag(@photo.image.url(:medium))
      .photo_tags
        %h3 Tags:
        %p
          = h @photo.tags.collect(&:name)
  .inner_content
    %h2 Rating        
    = render :partial =>"shared/rate_item",:locals => {:ratable=>@photo}
  .inner_content
    %h2 Comments
    = render :partial => @photo.comments
    = render :partial => "comments/form", :locals => {:commentable => @photo}
.details
  .inner_content
    = render :partial => "users/public_info"
  .inner_content
    = render :partial => "shared/advertisment"