= render "users/public_top"
.main
  .inner_content
    - if current_user
      = render "users/dashboard_nav"
    = render "users/grey_boxes"
    .content
      .relative
        .media_title
          %h4
            =h @photo.title
          - if current_user && (!current_user.owns?(@photo) || (current_user.super_user? && current_user != @photo.user)) && !current_user.likes?(@photo)
            .hanger
              = link_to 'Like', like_user_photo_path(@photo.user, @photo), :class => 'media_like', :method => :post
          - if current_user && current_user.likes?(@photo)
            .hanger
              = link_to 'Unlike', unlike_user_photo_path(@photo.user, @photo), :class => 'media_unlike', :method => :post
          - if current_user && current_user.owns?(@photo)
            .media_links
              = link_to 'Edit Picture', edit_user_photo_path(@photo.user, @photo)
              \/
              = link_to 'Delete Picture', user_photo_path(@photo.user, @photo), :method => :delete, :confirm => "Are you sure?"
      .photo_view
        .photo
          = image_tag(@photo.image.url(:medium))
        = @photo.description if @photo.description
      = "posted #{time_ago_in_words(@photo.created_at)} ago"
      %br <br>
      .photo_tags
        Tags:
        = @photo.tags.map{ |tag| link_to tag.name, user_photos_path }.join(", ")
  .prev_next_links
    - if @prev_photo
      .prev_media
        = link_to image_tag(@prev_photo.image.url(:thumb)), user_photo_path(@user, @prev_photo)
        = link_to '&laquo; Previous', user_photo_path(@user, @prev_photo)
    - if @next_photo
      .next_media
        = link_to image_tag(@next_photo.image.url(:thumb)), user_photo_path(@user, @next_photo)
        = link_to 'Next &raquo;', user_photo_path(@user, @next_photo)
  .content
    %h4 Rating       
    = render :partial =>"shared/rate_item",:locals => {:ratable=>@photo}
  .content
    %h4 Comments
    .comments
      = render :partial => "comments/form", :locals => {:commentable => @photo, :comment_class=>""}
      = render :partial => @photo.comments.all(:order => "created_at desc")
.details
  .inner_content
    = render :partial => "users/public_info"
  .inner_content
    = render :partial => "shared/tall_advertisement"