<% div_for(activity, :class => 'activity') do %>

  <div class="thumb">
  <%= link_to(image_tag(activity.producer.profile.avatar(:thumb)), activity.producer) if activity.producer %>
  </div>

  <div class="activity_detail">
  <p><%= link_to activity.producer.name, activity.producer %>
  <span class="activity-desc"><%= display_notification(activity) %></span></p>
  <p class="act_time"><%= image_tag(activity.icon, :class => 'icon') if activity.respond_to?(:icon) %> <span><%= "#{time_ago_in_words(activity.created_at)}" %> ago</span></p>
  </div>

  <div class="clear"></div>

<% end %>