- payload = item.payload

- if payload.respond_to?(:image)
  posted a new #{item.media_type}.
  .media
    = link_to image_tag(payload.image.url(:thumb)), user_photo_path(payload.user, payload)
- elsif payload.is_a?(Blog)
  .media
    .blog
      %blockquote
        = link_to payload.title, payload
        %p= truncate(payload.body, 350)
- elsif payload.is_a?(Track)
  posted a new #{link_to("audio track", user_track_path(payload.user,payload))}.
  .media
    %div[payload]
    :javascript
      var #{dom_id(payload)} = new SWFObject('/swf/player.swf','mpl','470','30','9');
      #{dom_id(payload)}.addParam('allowfullscreen','true');
      #{dom_id(payload)}.addParam('allowscriptaccess','always');
      #{dom_id(payload)}.addParam('wmode','opaque');
      #{dom_id(payload)}.addVariable('file','#{payload.mp3.url}');

      #{dom_id(payload)}.addVariable('skin','/audio-player/audio-skin.swf');
      #{dom_id(payload)}.write('#{dom_id(payload)}');