!!! Strict
%html
  %head
    %title= get_page_title
    / %link{:rel => 'icon', :type => 'image/gif', :href=>'favicon.gif'}
    = stylesheet_link_tag 'screen', :media => 'screen'
    = stylesheet_link_tag 'pyo/screen', :media => 'screen'
    = stylesheet_link_tag '/stylesheets/jquery.rating.css'
    = stylesheet_link_tag '/style.css'
    = javascript_include_tag 'jquery-1.3.2.min','application','swfobject'
    = javascript_include_tag '/javascripts/jquery.rating.pack.js'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? 
    :plain
      <script type="text/javascript" src="http://partner.googleadservices.com/gampad/google_service.js">
      </script>
      <script type="text/javascript">
        GS_googleAddAdSenseService("ca-pub-2727072243882391");
        GS_googleEnableAllServices();
      </script>
      <script type="text/javascript">
        GA_googleAddSlot("ca-pub-2727072243882391", "LeftSkyscraper");
        GA_googleAddSlot("ca-pub-2727072243882391", "TopLeaderboardAd");
      </script>
      <script type="text/javascript">
        GA_googleFetchAds();
      </script>
    = yield :head
  %body

  #wrapper
    #top-bar
      #inner-top-bar
        #logo
          = link_to image_tag('my_pic.gif', '', :border => '0', :width => '428', :height => '80'), "/"
		
    #website
      #header
        .top-user-panel

      = render "shared/advertisement"

      #pyo
        #nav
          %ul
            %li= link_to 'Home', root_path
            %li= link_to 'My Connects', connects_user_path(current_user) if current_user
            %li= link_to 'People', users_path
            %li= link_to 'Groups', groups_path
            %li= link_to 'Music', music_path
            %li= link_to 'Videos', videos_path
            /%li= link_to 'Marketplace', marketplace_path
              
        #inner_content= yield
    
    .container
      .footer.content
        .footer-right
          %ul.separated
            %li.first= link_to 'FAQ', '/faq'
            %li= link_to 'About Us', '/about'
            %li= link_to 'Contact Us', '/contact'
            %li= link_to 'Terms of Use', '/terms'
            %li= link_to 'Privacy Policy', '/privacy_policy'
            %li= link_to 'PYO Blog', site_blog_path
        .footer-left
          &copy;2009 Put Yourself On, Inc. All Rights Reserved.
  :plain
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-7089671-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <script type="text/javascript">
      _qoptions={
        qacct:"p-7cNVB4YIlqvlA"
      };
    </script>
    <script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
    <noscript>
      <img src="http://pixel.quantserve.com/pixel/p-7cNVB4YIlqvlA.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
    </noscript>